<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="IChameService" type="Chame.WebService.Helper.Services.IChameService, Chame.WebService.Helper" />

  <container name="ChameContainer">
    <register name="ChameHOT.Service" type="IChameService"
              mapTo="ChameHOT.WebService.Library.Services.ChameHOTImageService, ChameHOT.WebService.Library" />
    <register name="ChameWeather.Service" type="IChameService"
              mapTo="ChameWeather.WebService.Library.Services.ChameWeatherImageService, ChameWeather.WebService.Library" />
  </container>
</unity>